<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <h2 class="footer-title">مدرسة صابر لتعليم السياقة</h2>

            <div class="contact-info">
                <span class="contact-item">
                    <span class="text">رقم الهاتف : 98257297</span>
                </span>
                <span class="separator">|</span>
                <span class="contact-item">
                    <span class="text">العنوان : 2111 طريق قابس، قصر قفصة</span>
                </span>
            </div>
        </div>
    </div>
</footer>