.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.bg-white {
    background-color: var(--white);
}

.pricing-details {
    margin-top: 4rem;
    text-align: center;
    background-color: var(--background-light);
    padding: 2rem;
    border-radius: 20px;
}

.pricing-details h3 {
    margin-bottom: 1.5rem;
    color: var(--secondary-color);
}

.pricing-details ul {
    display: inline-block;
    text-align: left;
}

.pricing-details li {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    color: var(--text-dark);
}